{% extends "blog/base.html" %}

{% block content %}
<div id="wrapper" style="text-align: center">    
    <div id="yourdiv" style="display: inline-block;">
        <h1>Login</h1>
        <br>
        {% if form.errors %}
            <div class="alert alert-danger">
    	       <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	       <strong><p>Ooops, Something went wrong!</p></strong>
    	           {% for field in form %}
        	           {% for error in field.errors %}
            	           <strong>{{ field.name|escape }}:</strong>
                            <strong>{{ error|escape }}</strong><br>
        	           {% endfor %}
    	           {% endfor %}
    	       
               {% for error in form.non_field_errors %}
                    <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
            <table class="spaceUnder">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                 <tr>
                    <td></td>
                    <td align="right">
                        <br>
                        <button type="submit" class="btn btn-primary">login</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </td>
                </tr>
            </table>

            <br>
        
            
        </form>
    </div>
</div>
{% endblock %}