{% extends 'blog/base.html' %}

{% block content %}
    <h1>New User</h1>
    {% if form.errors %}
    <div class="alert alert-danger">
    	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	<strong><p>Ooops, Something went wrong!</p></strong>
    {% for field in form %}
        {% for error in field.errors %}
            	<strong>{{ field.name|escape }}:</strong>
                <strong>{{ error|escape }}</strong><br>
        {% endfor %}
    {% endfor %}
    </div>

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
	{% endif %}
	

    <form method="post" action="">
    {% csrf_token %}
    <table class="spaceUnder">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.email.label_tag }}</td>
    <td>{{ form.email }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
    <input type="submit" value="Create new user account" />
</form>
{% endblock %}