{% load staticfiles %}
<html>
        <head>
        	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    		<link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <!-- las 2 proximas lineas son los social share buttons -->
            <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">stLight.options({publisher: "432219cc-6505-4b48-a38c-205b46f3dbad", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
            <!-- /social share buttons -->
            <title>Django Girls blog</title>
        </head>
        <body>
            <div class="page-header">
                {% if user.is_superuser %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                {% endif %}
                {% if user.is_authenticated %}
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small>
                    &nbsp;&nbsp;&nbsp;
                <a href="{% url 'view_user_profile' pk=user.pk %}" class="top-menu"><span class="glyphicon glyphicon-user"></span></a></p>
                {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
                <a href="{% url 'add_user' %}" class="top-menu"><span class="glyphicon glyphicon-registration-mark"></span></a>
                {% endif %}
                <h1><a href="{% url 'blog.views.post_list' %}">Django Girls</a></h1>
            </div>
            <div class="backcolor">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                        </div>
                        
                        <div class="col-sm-8 col-md-8 col-lg-8">
                        {% block content %}
                        {% endblock %}
                        </div>
                        
                        <div class="col-sm-2 col-md-2 col-lg-2">
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
