{% extends 'blog/base.html' %}

    {% block content %}
    {% load app_filters %}
    {% load i18n %}
    <!--
    load markdown_deux_tags
-->
        <div class="post">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="save">
                        {% if post.published_date %}
                            <!-- Si ya está publicado no colocamos el botón de publicar-->
                        {% else %}
                            <a class="btn btn-success" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publicar&nbsp;&nbsp;<span class="glyphicon glyphicon-send"></span></a>
                        {% endif %}
                
                        {% if user.is_superuser %}
                            <a class="btn btn-warning" href="{% url 'post_edit' pk=post.pk %}">Editar&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">Eliminar&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span></a>
                        {% endif %}
                    </div>
            
                    <h1>{{ post.title }}</h1>
                </div>
                <div class="panel-body">
                    <div class="body-text">
                        <p>{{ post.text|safe}}</p>
                    </div>
                    <div class="author">
                        <p><br>
                            <!-- cargamos los filtros para las funciones -->
                            {% if list_documents|get_item:post.author %}
                            <!-- si el usuario que ha escrito el comentario tiene avatar, lo mostramos -->
                            <img alt="{{ post.author }}" src="{{ list_documents|get_item:post.author }}" width="40" height="40">
                            {% endif %}
                             {{ post.author }} 
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="simpledate">
                    {% language 'es' %}
                        {{ post.published_date|date:"d F Y" }}
                    {% endlanguage %}
                    </div>
                </div>
            </div>
        </div>
        <div class="date">
        <!-- las 5 proximas lineas son los social share buttons 
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_pocket_large' displayText='Pocket'></span>
         /social share buttons -->
        </div>
    <hr>
    

    <div class="comments">
    {% for comment in post.comments.all %}
        {% if comment.approved_comment or user.is_superuser %}
        
            <div class="simplecomment">
                <div class="panel panel-danger">
                    <div class="date">
                        <!--
                        {% language 'es' %}
                            {{ comment.created_date|date:"H:i, d F Y"  }}
                        {% endlanguage %}
                    -->
                            {% if user.is_superuser %}
                                <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                            {% endif %}
                            {% if not comment.approved_comment and user.is_superuser %}
                                <a class="btn btn-success" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                            {% endif %}
                    </div>
                
                    <div class="panel-heading">
                        
                        <!-- cargamos los filtros para las funciones -->
                        {% if list_documents|get_item:comment.author %}
                        <!-- si el usuario que ha escrito el comentario tiene avatar, lo mostramos -->
                        <img alt="{{ comment.author }}" src="{{ list_documents|get_item:comment.author }}" width="40" height="40">
                        <!-- {{ list_documents|get_item:comment.author }} -->
                        <!-- esta tag se usa para usar métodos y obtener resultados en los template -->
                        <!-- mirar app_filters en templatetags -->
                        &nbsp; 
                        {% endif %}
                        <strong> {{ comment.author }}</strong>
                    </div>
                
                    <div class="panel-body">
                        <p>{{ comment.text|linebreaks }}</p>

                        <div class="date">
                        {% language 'es' %}
                            {{ comment.created_date|date:"d/m/y H:i"  }}
                        {% endlanguage %}
                    </div>
                    </div>
                    
                </div>
            </div>
        
        {% endif %}
        {% empty %}
            <p>No existen comentarios.</p>
    {% endfor %}
        <div class="lastfooter">
            {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Escribir comentario</a>
            {% else %}
                <p>Debes de <a href="{% url 'django.contrib.auth.views.login' %}">inicia sesi&oacute;n</a> para poder comentar.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}