{% extends 'blog/base.html' %}

{% block content %}
<div id="wrapper">    
    <div id="yourdiv">
        <h1>perfil de usuario:</h1>
        <br>
            usuario: {{ user.username }}
            <br>
            e-mail: {{ user.email }}
            <br><br><br>
            <div id="wrapper" style="text-align: center"> 
                  {% if document %}
                <div class="date">
                    {% if user.is_authenticated %}
                        <a class="btn btn-danger" href="{% url 'photo_remove' pk=document.pk %}">Eliminar&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                </div>
            
                  <img alt="{{ document.docfile.name }}" src="{{ document.docfile.url }}" width="200" height="200">
                  {% else %}
                  <p>Sin foto de perfil</p>
            </div>
            
            <br><br>
            <!-- Upload form. Note enctype attribute! -->
            <form action="{% url 'view_user_profile' pk=user.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
                </p>
                
                <p><input type="submit" value="Upload" /></p>
            </form>
            {% endif %}
            <br><br><br><br><br><br>
            <div id="wrapper" style="text-align: left">
              <a href="{% url 'delete_user_profile' pk=user.pk %}" class="btn btn-danger" role="button">Eliminar cuenta de usuario</a>
            </div>
    </div>
</div>

{% endblock %}